{% extends "::base.html.twig" %}

{% block content %}
        <div class="columns">
            <div class="column">
                <div class="hero bg-gray">
                    <div class="hero-body">
                        <div class="content">
                        <h1>Podcasts</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="content">
        <div class="container">

            {% set index = 0 %}
            {% for podcast in podcasts if podcast.getVisibleInWebsite() ==  true %}

                {% if index % 2 == 0 %}
                    <div class="columns">
                {% endif %}
                <div class="column col-lg-12 col-6">
                    <div class="card">
                        {% if podcast.getImage() %}
                            <div class="card-image">
                                <img src="{{ vich_uploader_asset(podcast, 'imageFile')}}" class="img-responsive">
                            </div>
                        {% endif %}
                        <div class="card-header">
                            <div class="card-title h5">{{ podcast.getTitle() }}</div>
                        </div>
                        <div class="card-body">
                            {{ podcast.getDescription() |nl2br }}
                        </div>
                        <div class="card-footer">
                            <a href="{{ path('publisher_frontend_podcast_overview',{'podcastId': podcast.getSlug()}) }}" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                </div>
                {% set index=index+1 %}
                {% if index % 2 ==0 or index == podcasts|length %}
                    </div> <!-- end columns-->
                {% endif %}

            {% endfor %}

        </div>

    </div>




{% endblock content%}
