.card-flex-article {

  .card-divider {
    display: flex;
    background: transparent;

    p {
      margin-bottom: 0;
    }

    .avatar {
      margin-right: 0.75rem;
    }
  }

  .avatar {
    position: relative;

    img {
      border-radius: 50%;
    }

    &.with-add-icon .fa {
      position: absolute;
      bottom: 0;
      right: 0;
      color: $alert-color;
    }
  }

  .card-actions {
    .fa:not(:last-of-type) {
      margin-right: 1rem;
    }
  }

  .card-image {
    position: relative;
  }

  .card-tag {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 3%;
  }

  .card-section {
    .article-title {
      font-family: 'Merriweather', serif;
      font-weight: bold;
      font-size: 1.75rem;
      margin-bottom: 0;
    }

    .article-details {
      font-size: 0.75rem;
      opacity: 0.5;
      padding-bottom: 0.75rem;
    }

    .article-summary {
      font-family: 'Merriweather', serif;
    }
  }

  .user-info {
    font-size: 0.75rem;

    .user-name {
      font-weight: bold;
      margin-bottom: 0;
    }
  }

  .notability {
    font-size: 0.75rem;
    opacity: 0.5;
  }

}
