.timeline-play-icon{
  width: 66%;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.card{
  word-wrap: break-word;
}

.content{
  word-break:break-all;
}

.timeline-marker{
  z-index: 9999;
}

